@import url('variables.css');

#audioMeter {
    overflow: hidden;
    z-index: 10;
    width: 15%;
    height: 300px;
    position: relative;
    background-color: blue;
    /* left: 10px;
    top: 10px; */
  }
  
  #canvasWrapper {
    z-index: 10;
    position: relative;
    height: 100px;
    width: 100%;
    overflow-x: hidden;
    /* background-color: transparent; */
    -webkit-box-shadow: -4px 6px 15px -9px #000000;
    box-shadow: -4px 6px 15px -9px #000000;
    background-color: var(--score-background-color);
  }
  
  #collapseBtn2 {
    z-index: 10;
    width: 60px;
    height: 20px;
    position: relative;
    top: 1px;
    left: calc(50% - 30px);
    -webkit-box-shadow: -4px 6px 15px -9px #000000;
    box-shadow: -4px 6px 15px -9px #000000;
    background-color: var(--score-background-color);
    color: var(--text-color);
    font-size: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: hidden;
  }
  
  .slide-up {
    -webkit-animation: slide-up 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
    animation: slide-up 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
  }
  
  .slide-down {
    -webkit-animation: slide-down 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
    animation: slide-down 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
  }
  
  @-webkit-keyframes slide-up {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-300px);
      transform: translateY(-300px);
    }
  }
  @keyframes slide-up {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-300px);
      transform: translateY(-300px);
    }
  }
  
  @-webkit-keyframes slide-down {
    0% {
      -webkit-transform: translateY(-300px);
      transform: translateY(-300px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      -webkit-transform: translateY(-300px);
      transform: translateY(-300px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }