@import url('variables.css');
.pianoKeyboard {
    z-index: 1;
    position: fixed;
    bottom: 10px;
    border-radius: 2px;
}

.octaveControls {
    z-index: 3;
    color: black;
    position: fixed;
    right: 30px;
    bottom: 230px;
}

.timingControls {
    z-index: 3;
    color: black;
    position: fixed;
    left: 30px;
    bottom: 230px;
}

#pianoRoll {
    z-index: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 196px;
}

#mainLoadingScreen {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

.fade-out {
    -webkit-animation: fade-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.loadingTitle {
    z-index: 999;
    font-size: 100px;
    font-weight: 600;
    font-style: italic;
    line-height: 10px;
    padding-top: 30px;
    width: 100%;
    color:var(--keyboard-white-color);
}

.loadingSubtitle {
    z-index: 999;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color:var(--keyboard-white-color);
}

.loadingStatus {
    z-index: 999;
    font-size: 15px;
    margin-top: 40px;
    line-height: 20px;
    font-weight: 500;
    color: var(--keyboard-white-color);
}

.center {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.entryBtn {
    font-family: source-serif-pro, serif;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
    z-index: 999;
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: 4px solid var(--foreground-color);
    background: var(--background-color);
    margin: 0 auto;
}

.entryBtn:hover {
    font-weight: 800;
    background: var(--foreground-color);
    color: var(--background-color);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.entryBtn:active {
    -webkit-animation: scale-down-center 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-center 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.loadingTypewriter {
    padding: 0;
    margin: 0;
}

.loadingTypewriter .wrap {
    border-right: 0.03em solid rgb(89, 50, 54);
    color: rgb(89, 50, 54);
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}

.settingsSubtitle {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.settingsDiv {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--text-color);
}

.settingsOptionTitle {
    margin: 0;
    font-weight: 800;
}

.settingsValue {
    margin: 0;
    font-size: 20px;
}

.settingsSlider {
    margin-top: -18px;
    margin-left: 50px;
}

.modalDiv {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.modalTitle {
    font-size: 24px;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    font-weight: 800;
    color: var(--foreground-color);
}

.modalBtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 100%;
    float: right;
}

.modalIcon {
    height: 100%;
    padding: 0!important;
    margin: 0!important;
    display: inline-block;
    color: var(--text-color)!important;
}

.modalContent {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    padding: 50px 20px 20px 20px;
    font-size: 16px;
}

.vm--modal {
    background-color: var(--background-color);
}

.forceTextColor {
    color: var(--text-color)!important;
}

.controlBtn {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    min-width: 50px!important;
    width: 50px!important;
    height: 50px!important;
    padding: 0px;
    border-radius: 25px;
}

#mainContent {
    display: flex;
}

#modalContent::-webkit-scrollbar {
    display: none;
}

#modalContent {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}