:root {
    --background-color: #173814e0;
    --foreground-color: #e6a100;
    --text-color: #ffffff;
  
    --button-background-color: #e6a100;
    --button-text-color: #1a1a1a;
  
    --keyboard-white-color: #f7f0d2;
    --keyboard-white-active-color-human: #32ddcfb4;
    --keyboard-white-active-color-worker: #d15833cb;

    --keyboard-white-text-color: #180202;

    --keyboard-black-color: #3d3636;
    --keyboard-black-text-color: #f7f0d2;
    --keyboard-black-active-color-worker: #812104ee;
    --keyboard-black-active-color-human: #0f9186b4;

    --keyboard-border-radius: 5px;
  
    --note-color: #3d3c3ce7;
    --line-color: #3d3c3ce7;
    /* --note-color: #f0f5c7e7;
    --line-color: #f0f5c7e7; */
    --score-background-color: #3d3c3ce7;
  
    --pianoRoll-human-color: #32ddcf;
    --pianoRoll-worker-color: #d15833;
  }
  