:root {
    --background-color: #1a1a1a;
    --foreground-color: #e6a100;
    --text-color: #ffffff;
  
    --button-background-color: #e6a100;
    --button-text-color: #1a1a1a;
  
    --keyboard-white-color: #f5f5f5;
    --keyboard-white-text-color: #1a1a1a;
    --keyboard-black-color: #1a1a1a;
    --keyboard-black-text-color: #f5f5f5;
    --keyboard-border-radius: 5px;
  
    --note-color: #e6a100;
    --line-color: #ffffff;
    --score-background-color: #3d3c3ce7;
  
    --pianoRoll-human-color: #00b2ff;
    --pianoRoll-worker-color: #ff3b3b;
  }
  